---
layout: default
permalink: /
---
<section id="promo" class="promo section offset-header">
  <div class="container text-center">
    <h2 class="title">{{ site.title }}</h2>
    <p class="intro">{{ site.description }}</p>
    <div class="btns">
      <a class="btn btn-cta-secondary" href="{{ site.data.project.demo_url }}" target="_blank">Demo</a>
    </div>

    <ul class="meta list-inline">
      <!-- EAL <li><a href="https://github.com/{{ site.data.project.github }}" target="_blank">View on GitHub</a></li> -->
    </ul>
  </div>


   <!-- EAL-end -->
<!-- EAL  <div class="social-media">
    <div class="social-media-inner container text-center">
      <ul class="list-inline">
        <li class="twitter-follow"><a href="https://twitter.com/{{ site.data.project.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.data.project.twitter }}</a>
        </li>
        <li class="twitter-tweet">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.data.project.twitter }}" data-hashtags="bootstrap">Tweet about us</a>
        </li>
      </ul>
    </div>
  </div> -->
</section>

<section id="about" class="about section">
  <div class="container">
    <h2 class="title text-center">About This Project</h2>
    <p class="intro text-center">
  The fintech ecosystem is fostering actors transforming the financial industry through digital innovation. These innovations are enabling novel generations of products and new ways to reach - and communicate with - customers. This “socialisation of finance”, a term coined by Goldman Sachs in The Future of Finance (Part 3, March 2015), “is attacking over $4 trillion in addressable revenue”. Having a clear picture of this ecosystem at a given point in time is much needed to inform policy activities as evidenced by the European Commission call for tenders SMART 2016/0042.
<br> <br> In this project, we document the Fintech ecosystem and its past and present demographics which are key to understanding the status quo of these digital innovations, how they came into being and how they might develop. We combine novel knowledge representation and data analysis techniques to collect data and reveal links between actors (firms, investors, technologies, locations, etc.) of the fintech ecosystem which are otherwise not accessible. We enrich this data with linked open data. We apply Artificial Intelligence to learn from the past and the present in order to explore possible scenarios for the future development of the fintech ecosystem related to its location, types of services, technologies, etc.


  <!-- This project explores, using ontological modelling, the Fintech Ecosystem. It seeks, inter alia, to improve our understanding of this Ecosystem, which is a critically important environment from which solutions to operational risks at financial institutions frequently arise. We combine novel knowledge representation and data modelling techniques to reveal links between concepts represented in the data that otherwise are not accessible.</p>
  -->

  </div>
  <div class="container">
    <h2 class="title text-center">Our sponsors</h2>
    <div class="row">
    {% for sponsor in site.data.sponsors %}
      {% assign row_index = forloop.index | modulo: 3 %}
      {% if row_index == 1 and forloop.first == false %}
    </div>
    <div class="row">
      {% endif %}
      <div class="sponsor col-md-4 col-sm-6 col-xs-12">
        <img src="/img/{{ sponsor.img }}" alt="{{ sponsor.name }}">
      </div>
    {% endfor %}
    </div>
  </div>
</section>

<section id="team" class="contact section has-pattern">
  <div class="container">
    <div class="contact-inner">
      <h2 class="title  text-center">The Team</h2>
      <p class="intro  text-center"></p>
      {% for member in site.data.team %}
      <div class="author-message">
        <div class="profile">
          {% if member.img %}
          <img class="img-responsive" src="/img/{{ member.img }}" alt="{{ member.name }}" />
          {% else %}
          <img class="img-responsive" src="/img/no_profile_img.jpg" alt="No picture provided" />
          {% endif %}
        </div>
        <div class="speech-bubble">
          <h3 class="sub-title">{{ member.name }}</h3>
          <p>{{ member.bio }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="clearfix"></div>

    </div>
  </div>
</section>


<section id="advisors" class="advisors section has-pattern">
  <div class="container">
    <div class="advisors-inner">
      <h2 class="title  text-center">The Advisors</h2>
      <p class="intro  text-center"></p>
      {% for member in site.data.advisors %}
      <div class="author-message">
        <div class="profile">
          {% if member.img %}
          <img class="img-responsive" src="/img/{{ member.img }}" alt="{{ member.name }}" />
          {% else %}
          <img class="img-responsive" src="/img/no_profile_img.jpg" alt="No picture provided" />
          {% endif %}
        </div>
        <div class="speech-bubble">
          <h3 class="sub-title">{{ member.name }}</h3>
          <p>{{ member.bio }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="clearfix"></div>
      <div id ="contact" class="info text-center">
        <h4 class="sub-title">Get Connected</h4>
        <ul class="social-icons list-inline">
          <li><a href="https://twitter.com/{{ site.data.project.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="last"><a href="mailto:{{ site.data.project.email }}"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
